.News {
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.News li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-wrap: break-word; /* Ensure text within list items does not overflow */
}

.News h2, .News p {
  overflow-wrap: break-word; /* Apply text wrapping to headers and paragraphs */
}

/* If you have a specific class or element for the Markdown content, apply these styles */
.MarkdownContent {
  overflow-wrap: break-word;
}